<div class="container" style="margin-top: 3mm;">
    <div class="card">
        <h1>Update Student</h1>
    </div>
    <div class="card">
        <form #updateStudentForm ="ngForm" (ngSubmit)="updateStudent(updateStudentForm)">
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" #first_name (ngModel)="first_name" name="first_name" id="first_name" class="form-control" placeholder="First Name" value="{{student.first_name}}">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" #last_name (ngModel)="last_name" name="last_name" id="last_name" class="form-control" placeholder="Last Name" value="{{student.last_name}}">
            </div>
            <div class="form-group">
                <label for="date_of_birth">Date Of Birth</label>
                <input type="date" #date_of_birth (ngModel)="date_of_birth" name="date_of_birth" id="date_of_birth" value="{{student.date_of_birth}}" class="form-control" placeholder="Date Of Birth" min="1970-01-01" max={{myDate}} required >
            </div>
            <div class="form-group">
                <label for="mobilenumber">Mobile Number</label>
                <input type="text" #mobilenumber (ngModel)="mobilenumber" name="mobilenumber" id="mobilenumber" class="form-control" placeholder="Mobile Number" value="{{student.mobilenumber}}">
            </div>
            <div class="form-group">
                <label for="emailid">Email Id</label>
                <input type="email" #emailid (ngModel)="emailid" name="emailid" id="emailid" class="form-control" placeholder="emailid" value="{{student.emailid}}">
            </div>
            <div class="form-group">
                <input type="submit" value="Update Student" class="btn btn-primary" style="margin-top: 3mm;">
            </div>
        </form>
    </div>
 </div>


